html {
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
#root{
  height: 100%;
}


.brand-logo {
  font-family: 'Pacifico', cursive !important;
  font-size: 1.7rem !important;
  color: white;
}

.brand-logo:hover {
  opacity: 0.8;
}

a{
  text-decoration: none;
}